.user {  
  display: flex;  
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 0;
  margin-left: 1rem;
  margin-right: 1rem; 
  font-size: 1.5rem;
  border-style: solid;
  border-color: rgb(160, 160, 160);
  border-width: .15rem;  
}