.card {
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  background-color: rgb(244, 244, 244);
  text-align: left;
  padding: 12px;
  width: auto;
  align-items: center;
  justify-content: center;
}